# General
.DS_Store

# Development
/.build
/Packages
*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Blog
/blog

# Claude Code
/.claude
.claude/
**/CLAUDE.md
!/CLAUDE.md

